<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
    <div>
        <p>You can select a Stonk or enter a custom Stonk symbol:</p>
    </div>

    <div>

        <form  action="process_stock/" method="POST">
            {% csrf_token %} <!--these need to be run through the server or Django will not render them -->
            {{ form.select}}
            {{ form.symbol}}
            {{ form.period}}
            {{ form.start}}
            {{ form.end}}
            <button type="submit">Select</button>
        </form>

    </div>


<div>
    <label for="about"><a name="about" href="./about.html">About</a></label>
</div>

</body>
</html>