<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
<p>You can select a Stonk or enter a custom Stonk symbol:</p>
<div>
    <form action="plot_app/process_stock.py" method="POST" class="stonk-select">        <!--todo complete wiring up "/process_stock.py" for processing -->
        {% csrf_token %} <!-- this token prevents cross site errors -->
        <label for="stonk-select">Choose Your Stonks:</label>

        <select name="stonk-select" id="stonk-select">
            <option value="">--Please choose a Stonk!--</option>
            <option value="CADUSD=X">USD/CAD</option>
            <option value="X.TO">TMX Group Limited</option>
            <option value="^DJI">Dow Jones Industrial Average</option>
            <option value=NQ=F">Nasdaq 100</option>
             <option value="AMZN">Amazon</option>
            <option value="CL=F">Crude Oil</option>
            <option value="GC=F">Gold</option>
            <option value="^GSPTSE">S&P/TSX Composite index </option>
            <option value="^GSPC">S&P 500</option>
            <option value="^VIX">CBOE Volatility Index</option>
            <option value="CM.TO">Canadian Imperial Bank of Commerce</option>
        </select>

        <label for="stonk-custom"></label>
            <input type="text" id="stonk-custom" name="stonk-custom" placeholder="Symbol: ^DJI">
        <button type="submit">Select</button>
        {% stock %}
    </form>
</div>
<div>
    <ul>
        {% for item in stock: %}
        <li> {{ item.symbol }} </li> <!--todo complete generating stock name label before submitting-->
        <li> {{ item.period }} </li>
        <li> {% item.start %} </li>
        <li> {% item.end %} </li>
        {% end %}
    </ul>
</div>
<div>
    <label for=""><a href="./about.html">About</a></label>
</div>
<div class="stonk-table">
    <table>
<thead>
#  todo create table to display stonk data
</thead>
    </table>
</div>
</body>
</html>