<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
    <div>
        <p>You can select a Stonk or enter a custom Stonk symbol:</p>
    </div>

    <div>

        <form  action="process_stock/" method="POST">
            {% csrf_token %}
            {{ stock_form.stonk_select}}
            {{ stock_form.symbol}}
            {{ stock_form.period}}
            {{ stock_form.start}}
            {{ stock_form.end}}

            <button type="submit">Select</button>
        </form>

    </div>


<div>
    <label for="about"><a name="about" href="./about.html">About</a></label>
</div>
<!--<div class="stonk-table">-->
<!--    <table>-->
<!--<thead>-->
<!--#  todo create table to display stonk data-->
<!--</thead>-->
<!--    </table>-->
<!--</div>-->
</body>
</html>