<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
    <div class="stonk-table">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Symbol:</th>
                        <th colspan="3">Date: </th>
                        <th colspan="3">Open: </th>
                        <th colspan="3">High: </th>
                        <th colspan="3">Low: </th>
                        <th colspan="3">Close: </th>
                        <th colspan="3">Volume: </th>
                        <th colspan="3">Dividends: </th>
                        <th colspan="3">Splits: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Symbol {% process_stock.stonk-select | process_stock.stonk-custom %}</td>
                        <td>Date {% process_stock.date %}</td>
                        <td>Open {% process_stock.open %}</td>
                        <td>High {% process_stock.high %}</td>
                        <td>Low {% process_stock.low %}</td>
                        <td>Close {% process_stock.close %}</td>
                        <td>Volume {% process_stock.volume %}</td>
                        <td>Dividends {% process_stock.dividends %}</td>
                        <td>Splits {% process_stock.splits %}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>