<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
    <div class="stonk-table">
        <form action="">
            {% csrf_token %}
            {{ stock_form.data }}
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Symbol:</th>
                        <th colspan="3">Date: </th>
                        <th colspan="3">Open: </th>
                        <th colspan="3">High: </th>
                        <th colspan="3">Low: </th>
                        <th colspan="3">Close: </th>
                        <th colspan="3">Volume: </th>
                        <th colspan="3">Dividends: </th>
                        <th colspan="3">Splits: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">Symbol {{ data.symbol.value }}</td>
                        <td colspan="3">Date {{ data.date.value  }}</td>
                        <td colspan="3">Open {{ data.open.value  }}</td>
                        <td colspan="3">High {{ data.high.value  }}</td>
                        <td colspan="3">Low {{ data.low.value  }}</td>
                        <td colspan="3">Close {{ data.close.value  }}</td>
                        <td colspan="3">Volume {{ data.volume.value  }}</td>
                        <td colspan="3">Dividends {{ data.dividends.value  }}</td>
                        <td colspan="3">Splits {{ data.splits.value  }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>