<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot Stonks!</title>
</head>
<body>
    <div class="stonk-table">
        <form action="">
            {% csrf_token %}
            {{ form }}
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Symbol:</th>
                        <th colspan="3">Date: </th>
                        <th colspan="3">Open: </th>
                        <th colspan="3">High: </th>
                        <th colspan="3">Low: </th>
                        <th colspan="3">Close: </th>
                        <th colspan="3">Volume: </th>
                        <th colspan="3">Dividends: </th>
                        <th colspan="3">Splits: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">Symbol {{ form.symbol.value }}</td>
                        <td colspan="3">Date {{ form.date.value  }}</td>
                        <td colspan="3">Open {{ form.open.value  }}</td>
                        <td colspan="3">High {{ form.high.value  }}</td>
                        <td colspan="3">Low {{ form.low.value  }}</td>
                        <td colspan="3">Close {{ form.close.value  }}</td>
                        <td colspan="3">Volume {{ form.volume.value  }}</td>
                        <td colspan="3">Dividends {{ form.dividends.value  }}</td>
                        <td colspan="3">Splits {{ form.splits.value  }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>